*{
    font-family: 'Roboto Mono', monospace;
}
h1{
    text-shadow: -2px 3px 5px rgba(87, 168, 98, 1);
    color: white;
}
.App{
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(35,41,55);
    height: 100vh;
}
.input{
    color: #157a2b;
    background-color: #a3a3a3;
    width: 80%;
    height: 2em;
    margin-right: 6px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}
.AddButton{
    width: 3em;
    height: 3em;
    background-color: #a3a3a3;
    color:#157a2b;
    border-radius: 50%;
}